<h1>Listing programmes</h1>
  <div class="search">
    <%= search_form_for @q do |f| %> 
        <%= f.condition_fields do |c|%>
          <div class="field">
          <%= c.attribute_fields do |a| %> 
              <%= a.attribute_select %>
          <% end %>
          <%= c.predicate_select %> 
            <%= c.value_fields do |v| %>
              <%= v.text_field :value %>
            <% end %>
          </div>
          <% end %>
        <%= f.submit %>
      <% end %>
    </div>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programmes.each do |programme| %>
  <tr>
    <td><%= programme.name %></td>
    <td>
      <% if can? :show, programme %>
        <%= link_to 'Show', programme %>
      <% end %>
    </td>
    <td>
      <% if can? :update, programme %>
        <%= link_to 'Edit', edit_programme_path(programme) %>
      <% end %>
    </td>
    <td>
      <% if can? :destroy, programme %>
        <%= link_to 'Destroy', programme, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Programme', new_programme_path %>
<%= paginate @programmes %>