<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<p>
  <b>email:</b>
  <%= @user.email %>
</p>

<div>
<% if can? :update, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
</div>

<div>
<% if can? :destroy, @user %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>

<%= link_to 'Back', users_path %>
