<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Start at:</b>
  <%= @course.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @course.end_at %>
</p>

<p>
  <b>Genre:</b>
  <%= @course.genre %>
</p>

<p>
  <b>Programme:</b>
  <%= @course.programme.name %>
</p>

<p>
  <b>Classroom:</b>
  <%= @course.classroom.name %>
</p>

<p>
  <b>Price:</b>
  <%= @course.price %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
