!!!
%html
  %head
    %title GaSchedulePlanner
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "public/stylesheets/event_calendar.css", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "public/javascripts/event_calendar.js"
    = csrf_meta_tags
  %body
    %header
      %h1.h5bp GA Scheduler
      %nav.main
        %ul
          %li
            = link_to 'GA Scheduler', welcome_index_path
          %li
            = link_to 'locations', locations_path
          %li
            = link_to 'classrooms', classrooms_path
          %li
            = link_to 'courses', courses_path
          %li
            = link_to 'users', users_path
          %li
            = link_to 'programmes', programmes_path
          %li
            = link_to 'calendar', calendar_path
          - if current_user
            %li.hello
              hello #{current_user.name}
            %li
              = link_to 'Show profile!', current_user
            %li
              = link_to 'Sign out', logout_path
          - else
            %li
              = link_to 'Sign in!', new_session_path
    - flash.each do |name, msg|
      %div{:class => "flash-message flash-message-#{name}"}
        = msg
    %main
      = yield
    %footer