<!DOCTYPE html>
<html>
<head>
  <title>GaSchedulePlanner</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "public/stylesheets/event_calendar.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "public/javascripts/event_calendar.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li>
      <%=link_to 'locations', locations_path %>
    </li>
    <li>
      <%=link_to 'classrooms', classrooms_path %>
    </li>
    <li>
      <%=link_to 'courses', courses_path %>
    </li>
    <li>
      <%=link_to 'users', users_path %>
    </li>
    <li>
      <%=link_to 'programmes', programmes_path %>
    </li>

  </ul>
</nav>

<%= yield %>

</body>
</html>
