<!DOCTYPE html>
<html>
<head>
  <title>GaSchedulePlanner</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "public/stylesheets/event_calendar.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "public/javascripts/event_calendar.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>GA Scheduler</li>
        <li>
          <%=link_to 'locations', locations_path %>
        </li>
        <li>
          <%=link_to 'classrooms', classrooms_path %>
        </li>
        <li>
          <%=link_to 'courses', courses_path %>
        </li>
        <li>
          <%=link_to 'users', users_path %>
        </li>
        <li>
          <%=link_to 'programmes', programmes_path %>
        </li>
        <li>
          <%=link_to 'calendar', calendar_path %>
        </li>
        <% if current_user %>
        <li>hello <%= current_user.email %></li>
        <li>
          <%= link_to 'Show profile!', current_user %>
        </li>
        <li>
          <%= link_to 'Sign out', logout_path %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign in!', new_session_path %>
        </li>
      <% end %>
        
      </ul>
    </nav>
  </header>

  <% flash.each do |name, msg| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
    </div>
  <% end %>

  <main>
    <%= yield %>
  </main>

  <footer></footer>

</body>
</html>
